* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100%;
  overflow: auto;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("https://imgk.timesnownews.com/story/money.png");
}

.css-1pomjnl-MuiButtonBase-root-MuiButton-root {
  margin-top: 16px !important;
}
.css-d2r957-MuiContainer-root {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 1341px) {
  .css-k008qs {
    flex-direction: column;
  }
  .css-gg4vpm {
    flex-direction: column;
  }
  .expenseDoughnut {
    display: none;
  }
  .IncomeDoughnut {
    display: none;
  }
  .ExpenseDetails {
    display: none;
  }
  .IncomeDetails {
    display: none;
  }
  .transactionDetails {
    display: flex;
    flex-direction: column !important;
  }
}

@media screen and (min-width: 1341px) {
  .transactionDetailsMainContainer {
    max-width: 550px;
    width: 31%;
  }
}
